Repository elastic/apm-server, pull requests merged in 2019-05, with the labels that each got.

#2159 [7.0] bump requirements.txt versions (#2158)
  _beats/libbeat/tests/system/requirements.txt
Labels: backport

#2157 [docs][7.0] 7.0.1 release notes and version bump
  changelogs/7.0.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/version.asciidoc
Labels: docs

#2135 [docs][6.7] 6.7.2 stack bump and release notes
  changelogs/6.7.asciidoc
  docs/version.asciidoc
Labels: docs

#2156 [docs] What happens when x is down
  docs/common-problems.asciidoc
Labels: docs

#2161 [docs] Update ES output config
  docs/copied-from-beats/outputconfig.asciidoc
Labels: docs

#2168 [docs] Link to new supported technology pages
  docs/guide/install-and-run.asciidoc
Labels: docs

#2176 [docs][6.8] Update release state to released
  docs/version.asciidoc
Labels: docs

#2175 [docs][7.1] Update release state to released
  docs/version.asciidoc
Labels: docs

#2099 Add ILM support to APM Server
  _meta/beat.yml
  apm-server.docker.yml
  apm-server.yml
  changelogs/head.asciidoc
  cmd/root.go
  idxmgmt/config.go
  idxmgmt/ilm/config.go
  idxmgmt/ilm/policy.go
  idxmgmt/ilm/supporter_factory.go
  idxmgmt/ilm/supporter_factory_test.go
  idxmgmt/ilm/template.go
  idxmgmt/ilm/template_test.go
  idxmgmt/indices.go
  idxmgmt/indices_test.go
  idxmgmt/supporter.go
  idxmgmt/supporter_factory.go
  idxmgmt/supporter_test.go
  tests/system/apmserver.py
  tests/system/test_export.py
  tests/system/test_integration.py
  tests/system/test_pipelines.py
  tests/system/test_setup_index_management.py
Labels: [zube]: In Review, review, v7.2.0

#2167 [docs] UI implications of transaction name and type
  docs/guide/apm-data-model.asciidoc
Labels: docs

#2194 [docs][7.x] update stack version to 7.3
  docs/version.asciidoc
Labels: docs

#2210 run approvals and fix apm-server version in tests
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationEvents.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationMetricsets.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationMinimalEvents.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationSpans.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationTransactions.approved.json
  tests/system/apmserver.py
Labels: [zube]: Ready

#2207 fix master changelog links
  changelogs/7.0.asciidoc
Labels: [zube]: In Review

#2205 Fix 7.x changelog links
  changelogs/7.0.asciidoc
Labels: [zube]: In Review

#2206 fix 7.2 changelog links
  changelogs/7.0.asciidoc
Labels: [zube]: In Review

#2204 Fix 7.1 changelog links
  changelogs/6.8.asciidoc
  changelogs/7.0.asciidoc
  changelogs/7.1.asciidoc
Labels: [zube]: In Review

#2172 [docs] Clarify -e flag when running APM Server
  docs/setting-up-and-running.asciidoc
Labels: docs

#2209 Check if ILM is supported when configured.
  changelogs/head.asciidoc
  idxmgmt/supporter.go
  idxmgmt/supporter_test.go
Labels: [zube]: In Review, v7.2.0

#2217 [docs][6.7] doc backports
  docs/common-problems.asciidoc
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/guide/distributed-tracing.asciidoc
  docs/rum.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/sourcemap-api.asciidoc
Labels: docs

#2214 [docs][6.8] doc backports
  docs/common-problems.asciidoc
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/distributed-tracing.asciidoc
  docs/rum.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/sourcemap-api.asciidoc
Labels: docs

#2215 [docs][7.0] doc backports
  _beats/script/build_docs.sh
  docs/common-problems.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: docs

#2216 [docs][7.1] doc backports
  _beats/script/build_docs.sh
  docs/common-problems.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/version.asciidoc
Labels: docs

#2213 [docs][7.2] doc backports
  _beats/script/build_docs.sh
  docs/copied-from-beats/outputconfig.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: docs

#2212 [docs][7.x] doc backports
  _beats/script/build_docs.sh
  changelogs/7.0.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: docs

#2218 docs: sync 7.0 changelog
  changelogs/7.0.asciidoc
  changelogs/head.asciidoc
  docs/guide/apm-release-notes.asciidoc
Labels: docs

#2223 [7.2] Check if ILM is supported when configured. (#2209)
  changelogs/7.2.asciidoc
  idxmgmt/supporter.go
  idxmgmt/supporter_test.go
Labels: backport

#2226 [docs][7.1] 7.1.1 release notes and version bump
  changelogs/7.1.asciidoc
  docs/version.asciidoc
Labels: docs

#2165 [ci] add files for JJBB jobs
  .ci/bin/check_paths_for_matches.py
  .ci/jobs/apm-server-mbp.yml
  .ci/jobs/apm-server.yml
  .ci/jobs/defaults.yml
  .ci/jobs/elastic+apm-server+6.7+beats-updated.yml
Labels: [zube]: In Review
