Repository elastic/apm-server, pull requests merged in 2019-04, with the labels that each got.

#2061 [docs] Update ingest node documentation
  docs/configuring-ingest.asciidoc
Labels: docs

#2056 docs: mark objects as not enabled
  NOTICE.txt
  _beats/libbeat/docs/version.asciidoc
  _beats/libbeat/scripts/generate_fields_docs.py
  _beats/testing/environments/args.yml
  docs/fields.asciidoc
  vendor/vendor.json
Labels: [zube]: In Review

#2063 [docs] Update sourcemaps note
  docs/sourcemap-api.asciidoc
Labels: backport, docs

#2066 [docs][7.0] Changelog and updates for 7.0.0-rc2
  changelogs/7.0.asciidoc
  changelogs/head.asciidoc
  docs/version.asciidoc
Labels: docs

#2067 [docs][6.6] Backport documentation
  docs/breaking-changes.asciidoc
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/index.asciidoc
  docs/guide/opentracing.asciidoc
  docs/release-notes.asciidoc
  docs/upgrading.asciidoc
Labels: docs

#2068 [docs][6.7] Backport documentation
  docs/breaking-changes.asciidoc
  docs/configuring-ingest.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/security/linux-seccomp.asciidoc
  docs/copied-from-beats/security/securing-beats.asciidoc
  docs/copied-from-beats/shared-configuring.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/index.asciidoc
  docs/guide/opentracing.asciidoc
  docs/index.asciidoc
  docs/release-notes.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/upgrading.asciidoc
Labels: docs

#2070 [docs][7.x] Backport documentation
  changelogs/7.0.asciidoc
  changelogs/head.asciidoc
  docs/configuring-ingest.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/security/linux-seccomp.asciidoc
  docs/copied-from-beats/security/securing-beats.asciidoc
  docs/copied-from-beats/shared-configuring.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/step-test-config.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  docs/index.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/upgrading-to-70.asciidoc
  docs/upgrading.asciidoc
  docs/version.asciidoc
Labels: docs

#2071 [docs] Cherry pick release notes
  changelogs/7.0.asciidoc
  changelogs/head.asciidoc
  docs/version.asciidoc
Labels: docs

#2069 [docs][7.0] Backport documentation
  docs/configuring-ingest.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/security/linux-seccomp.asciidoc
  docs/copied-from-beats/security/securing-beats.asciidoc
  docs/copied-from-beats/shared-configuring.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/step-test-config.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  docs/index.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/upgrading-to-70.asciidoc
  docs/upgrading.asciidoc
Labels: docs

#2076 [DOCS] Adds tagged region for notable breaking changes
  docs/guide/apm-breaking-changes.asciidoc
Labels: docs

#2079 [DOCS] Adds tagged region for notable breaking changes
  docs/guide/apm-breaking-changes.asciidoc
Labels: docs

#2072 [7.0] Align host.hostname with ECS under kubernetes (#2059)
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationEvents.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationTransactions.approved.json
  docs/data/elasticsearch/generated/errors.json
  docs/data/elasticsearch/generated/transactions.json
  model/metadata/system.go
  model/metadata/system_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationEvents.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationTransactions.approved.json
  tests/system/error.approved.json
  tests/system/transaction.approved.json
Labels: backport

#2073 [docs] 7.0.0 release notes and breaking changes
  CHANGELOG.asciidoc
  changelogs/7.0.asciidoc
  changelogs/head.asciidoc
  docs/breaking-changes.asciidoc
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/release-notes.asciidoc
  docs/upgrading-to-70.asciidoc
Labels: docs

#2089 [docs][7.0] Fix stack docs tagged region
  docs/guide/apm-breaking-changes.asciidoc
Labels: docs

#2007 Fail setup dashboard sooner (#1999)
  _meta/kibana/7/dashboard/apm-dashboards.json
  beater/beater.go
  cmd/root.go
Labels: [zube]: In Progress

#2090 [docs] Update RUM and DT documentation
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/guide/distributed-tracing.asciidoc
  docs/rum.asciidoc
  docs/sourcemap-api.asciidoc
Labels: backport, docs

#2091 [docs] Cherry-picks 6.7.1 and 7.0.0 release notes
  changelogs/6.7.asciidoc
  changelogs/7.0.asciidoc
  docs/breaking-changes.asciidoc
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/release-notes.asciidoc
  docs/upgrading-to-70.asciidoc
Labels: docs

#2093 [docs] Document upper limit for fields
  docs/guide/apm-data-model.asciidoc
Labels: docs

#2097 [docs] Add known issue to highlights
  docs/guide/apm-release-notes.asciidoc
Labels: docs

#2100 [docs] 7.0 documentation backports
  changelogs/6.7.asciidoc
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/distributed-tracing.asciidoc
  docs/rum.asciidoc
  docs/sourcemap-api.asciidoc
Labels: docs

#2104 [7.0] set user/group under systemd (#2101)
  _beats/dev-tools/packaging/templates/linux/systemd.unit.tmpl
  changelogs/7.0.asciidoc
Labels: backport

#2109 [docs][7.0] fix breaking change link
  docs/breaking-changes.asciidoc
Labels: docs

#2115 [docs][6.5] fix breaking changes links
  docs/upgrading.asciidoc
Labels: docs

#2114 [docs][6.4] fix breaking changes links
  docs/upgrading.asciidoc
Labels: docs

#2103 [7.0] add systemd docs (#2102)
  changelogs/7.0.asciidoc
  docs/copied-from-beats/shared-systemd.asciidoc
  docs/installing.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: backport

#2113 [APM-CI] trigger build with a GitHub comment
  Jenkinsfile
Labels: automation

#2110 Return a response body
  beater/common_handler.go
  beater/common_handler_test.go
  beater/intake_handler.go
  beater/intake_handler_test.go
  beater/test_approved_stream_result/TestRequestIntegrationSuccess.approved.json
  changelogs/head.asciidoc
  processor/stream/package_tests/intake_test_processor.go
  processor/stream/processor.go
  processor/stream/result.go
  processor/stream/result_test.go
  tests/system/test_requests.py
Labels: [zube]: In Review

#2125 [docs] Add metadata landing page
  docs/guide/index.asciidoc
  docs/guide/redirects.asciidoc
Labels: docs

#2080 [APM-CI] update codecov step
  Jenkinsfile
Labels: automation

#2122 Add Idle Timeout to Server config.
  _meta/beat.yml
  apm-server.docker.yml
  apm-server.yml
  beater/beater_test.go
  beater/config.go
  beater/config_test.go
  beater/server.go
  changelogs/head.asciidoc
  docs/configuration-process.asciidoc
Labels: [zube]: In Review

#2131 [docs] Update documentation copied from beats
  _beats/script/build_docs.sh
  _meta/beat.yml
  apm-server.docker.yml
  apm-server.yml
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/repositories.asciidoc
  docs/copied-from-beats/shared-docker.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2139 Log errors on error log level.
  beater/intake_handler.go
Labels: v6.7, v7.0.1

#2129 [docs] Add labels context and user info
  docs/context.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/redirects.asciidoc
Labels: docs

#2146 [docs] Add labels context and user info (#2129)
  docs/context.asciidoc
  docs/guide/apm-data-model.asciidoc
  docs/guide/redirects.asciidoc
Labels: docs

#2147 Fix numeric user id decoding
  changelogs/6.7.asciidoc
  model/metadata/user.go
  model/metadata/user_test.go
Labels: bug
