Repository elastic/apm-server, pull requests merged in 2019-09, with the labels that each got.

#2667 feat: remove unnecessary pipeline
  .ci/jobs/elastic+apm-server+6.7+beats-updated.yml
Labels: automation, ci

#2670 ci(jenkins): Set GitHub notification context to apm-ci
  .ci/jobs/apm-server-check-changelogs-mbp.yml
  .ci/jobs/apm-server-mbp.yml
Labels: [zube]: In Review, automation, ci

#2684 [docs] 6.8.3 release notes
  changelogs/6.8.asciidoc
  docs/version.asciidoc
Labels: docs

#2675 [docs] sourcemapping.enabled config
  docs/configuration-rum.asciidoc
  docs/rum.asciidoc
Labels: docs

#2689 docs: sync APM Overview highlights and changes
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/images/apm-highlight-breakdown-charts.png
  docs/guide/images/apm-highlight-rum-maps.png
  docs/guide/images/apm-highlight-sample-rate.png
Labels: docs

#2686 [7.x][docs] Documentation backports
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/images/apm-highlight-breakdown-charts.png
  docs/guide/images/apm-highlight-rum-maps.png
  docs/guide/images/apm-highlight-sample-rate.png
  docs/rum.asciidoc
  docs/version.asciidoc
Labels: docs

#2687 [7.4][docs] Documentation backports
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/images/apm-highlight-breakdown-charts.png
  docs/guide/images/apm-highlight-rum-maps.png
  docs/guide/images/apm-highlight-sample-rate.png
  docs/rum.asciidoc
  docs/version.asciidoc
Labels: docs

#2688 [7.3][docs] Documentation backports
  docs/configuration-rum.asciidoc
  docs/guide/agent-server-compatibility.asciidoc
  docs/rum.asciidoc
  docs/version.asciidoc
Labels: docs

#2498 ci(jenkins): build CI Docker images
  .ci/docker/Makefile
  .ci/docker/tests/test_helpers.bash
  .ci/docker/tests/tests.bats
  .gitignore
Labels: [zube]: In Review, automation, ci

#2668 Add issue template
  .github/ISSUE_TEMPLATE/apm-server-issue-template.md
Labels: [zube]: In Review

#2691 [docs] Update Logstash output documentation
  docs/copied-from-beats/outputconfig.asciidoc
Labels: docs

#2170 [docs] APM Server install and run structure
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
Labels: docs

#2703 [7.x] Avoid nil errors in beater request results (#2699)
  beater/api/intake/handler.go
  beater/api/intake/handler_test.go
  beater/request/result_test.go
Labels: backport

#2704 [7.4] Avoid nil errors in beater request results (#2699)
  beater/api/intake/handler.go
  beater/api/intake/handler_test.go
  beater/request/result_test.go
Labels: backport

#2713 [7.x] Make timestamp for metricset optional. (#2711)
  beater/integration_test.go
  beater/test_approved_es_documents/TestPublishIntegrationMetricsets.approved.json
  changelogs/7.4.asciidoc
  docs/data/elasticsearch/generated/metricsets.json
  docs/spec/metricsets/metricset.json
  model/metricset/generated/schema/metricset.go
  processor/stream/package_tests/metricset_attrs_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationMetricsets.approved.json
  testdata/intake-v2/metricsets.ndjson
Labels: backport

#2714 [7.4] Make timestamp for metricset optional. (#2711)
  beater/integration_test.go
  beater/test_approved_es_documents/TestPublishIntegrationMetricsets.approved.json
  changelogs/7.4.asciidoc
  docs/data/elasticsearch/generated/metricsets.json
  docs/spec/metricsets/metricset.json
  model/metricset/generated/schema/metricset.go
  processor/stream/package_tests/metricset_attrs_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationMetricsets.approved.json
  testdata/intake-v2/metricsets.ndjson
Labels: backport

#2715 [docs] Add and improve SSL/TLS documentation
  docs/configuring.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/shared-securing-beat.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/secure-communication-agents.asciidoc
  docs/security.asciidoc
  docs/ssl-input-settings.asciidoc
Labels: docs

#2723 [7.x] fix headers (#2720)
  tests/system/test_integration_acm.py
Labels: backport

#2589 [docs] Update link for "ccr-overview-beats" anchor
  docs/copied-from-beats/template-config.asciidoc
Labels: docs

#2729 [docs][7.4] documentation backports
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/configuring.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-securing-beat.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/secure-communication-agents.asciidoc
  docs/security.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/ssl-input-settings.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2727 [docs][7.2] documentation backports
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/configuring.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-securing-beat.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/secure-communication-agents.asciidoc
  docs/security.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/ssl-input-settings.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2730 [docs][7.x] documentation backports
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/configuring.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-securing-beat.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/secure-communication-agents.asciidoc
  docs/security.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/ssl-input-settings.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2728 [docs][7.3] documentation backports
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/configuring.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/https.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-securing-beat.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-ssl-logstash-config.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/secure-communication-agents.asciidoc
  docs/security.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/ssl-input-settings.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2726 [docs][7.1] documentation backports
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2725 [docs][7.0] documentation backports
  docs/common-problems.asciidoc
  docs/configuration-process.asciidoc
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/data-ingestion.asciidoc
  docs/getting-started-apm-server.asciidoc
  docs/guide/apm-doc-directory.asciidoc
  docs/guide/install-and-run.asciidoc
  docs/ilm-setup.asciidoc
  docs/images/apm-architecture-cloud.png
  docs/images/apm-architecture-diy.png
  docs/index.asciidoc
  docs/installing-on-windows.asciidoc
  docs/overview.asciidoc
  docs/rum.asciidoc
  docs/setting-up-and-running.asciidoc
  docs/storage-management.asciidoc
  docs/troubleshooting.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2712 docs: fix versioning and attribute references
  docs/index.asciidoc
  docs/version.asciidoc
Labels: docs

#2736 [7.x] Refactor rate limit logic (#2732)
  beater/api/config_agent_integration_test.go
  beater/api/intake/handler.go
  beater/api/intake/handler_test.go
  beater/api/intake_rum_integration_test.go
  beater/api/mux.go
  beater/api/ratelimit/lru_cache.go
  beater/api/ratelimit/store.go
  beater/api/ratelimit/store_test.go
  beater/middleware/rate_limit_middleware.go
  beater/request/context.go
  processor/stream/processor.go
Labels: backport

#2672 [docs] APM / Log UI integration documentaiton
  docs/guide/index.asciidoc
  docs/guide/obs-integrations.asciidoc
Labels: docs

#2740 [7.4] [docs] APM / Log UI integration documentaiton (#2672)
  docs/guide/index.asciidoc
  docs/guide/obs-integrations.asciidoc
Labels: backport

#2739 [7.x] [docs] APM / Log UI integration documentaiton (#2672)
  docs/guide/index.asciidoc
  docs/guide/obs-integrations.asciidoc
Labels: backport

#2734 [docs] 7.4 release highlights and breaking changes
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/images/geo-location.jpg
  docs/guide/images/structured-filters.jpg
Labels: docs

#2743 [7.4] [docs] 7.4 release highlights and breaking changes (#2734)
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/images/geo-location.jpg
  docs/guide/images/structured-filters.jpg
Labels: backport, docs

#2742 [7.x] [docs] 7.4 release highlights and breaking changes (#2734)
  docs/guide/apm-breaking-changes.asciidoc
  docs/guide/apm-release-notes.asciidoc
  docs/guide/images/geo-location.jpg
  docs/guide/images/structured-filters.jpg
Labels: backport, docs

#2690 [DOCS] Correcting a few typos to match the Style Guide
  docs/guide/apm-doc-directory.asciidoc
Labels: docs

#2744 [docs] Break outputconfig.asciidoc into multiple files
  _beats/script/build_docs.sh
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/monitoring/monitoring-internal-collection.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/outputs/change-output-codec.asciidoc
  docs/copied-from-beats/outputs/output-cloud.asciidoc
  docs/copied-from-beats/outputs/output-console.asciidoc
  docs/copied-from-beats/outputs/output-elasticsearch.asciidoc
  docs/copied-from-beats/outputs/output-file.asciidoc
  docs/copied-from-beats/outputs/output-kafka.asciidoc
  docs/copied-from-beats/outputs/output-logstash.asciidoc
  docs/copied-from-beats/outputs/output-redis.asciidoc
  docs/copied-from-beats/shared-securing-beat.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/template-config.asciidoc
  script/build_apm_docs.sh
Labels: docs
