Repository elastic/apm-server, pull requests merged in 2019-08, with the labels that each got.

#2499 Log warning for RUM allow_origins setting '*'.
  beater/server.go
  tests/system/apmserver.py
Labels: [zube]: In Review

#2524 [7.x] Log warning for RUM allow_origins setting '*'. (#2499)
  beater/server.go
  tests/system/apmserver.py
Labels: backport

#2519 [docs] update python agent links to 5.x
  docs/guide/apm-data-model.asciidoc
  docs/version.asciidoc
Labels: docs

#2520 [docs][7.3] Update python agent version
  docs/guide/apm-data-model.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2521 [docs][7.x] Update python agent version
  docs/guide/apm-data-model.asciidoc
  docs/version.asciidoc
Labels: backport, docs

#2491 [7.x] Disable sourcemapping config (#2488)
  _meta/beat.yml
  apm-server.docker.yml
  apm-server.yml
  beater/config.go
  beater/route_config.go
  changelogs/7.4.asciidoc
  tests/system/apmserver.py
  tests/system/config/apm-server.yml.j2
  tests/system/test_integration.py
Labels: backport

#2525 [docs] Update custom context links
  docs/guide/apm-data-model.asciidoc
Labels: docs

#2531 [fields] Add host.name to ingested events.
  _meta/fields.common.yml
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationEvents.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationTransactions.approved.json
  docs/data/elasticsearch/generated/errors.json
  docs/data/elasticsearch/generated/transactions.json
  docs/fields.asciidoc
  docs/spec/system.json
  include/fields.go
  model/metadata/generated/schema/metadata.go
  model/metadata/metadata_test.go
  model/metadata/system.go
  model/metadata/system_test.go
  model/transaction/event_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationEvents.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationOptionalTimestamps.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationTransactions.approved.json
  testdata/intake-v2/errors.ndjson
  testdata/intake-v2/only-metadata.ndjson
Labels: [zube]: In Review

#2535 [7.x] Set host.name on ingested events. (#2531)
  _meta/fields.common.yml
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationEvents.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationTransactions.approved.json
  docs/data/elasticsearch/generated/errors.json
  docs/data/elasticsearch/generated/transactions.json
  docs/fields.asciidoc
  docs/spec/system.json
  include/fields.go
  model/metadata/generated/schema/metadata.go
  model/metadata/metadata_test.go
  model/metadata/system.go
  model/metadata/system_test.go
  model/transaction/event_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationEvents.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationOptionalTimestamps.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationTransactions.approved.json
  testdata/intake-v2/errors.ndjson
  testdata/intake-v2/only-metadata.ndjson
Labels: backport

#2530 ci(jenkins): add more resilience to reduce any temporary glitches
  Jenkinsfile
Labels: automation, ci, enhancement

#2533 [docs] Config YML updates
  _meta/beat.yml
  apm-server.docker.yml
  apm-server.yml
  docs/configuration-process.asciidoc
  docs/copied-from-beats/monitoring/shared-monitor-config.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
Labels: docs

#2536 [docs] Update pipeline documentation
  docs/configuration-rum.asciidoc
  docs/configuring-ingest.asciidoc
Labels: docs

#2543 [7.x][docs] Documentation backports
  _meta/beat.yml
  apm-server.docker.yml
  apm-server.yml
  docs/configuration-process.asciidoc
  docs/configuration-rum.asciidoc
  docs/configuring-ingest.asciidoc
  docs/copied-from-beats/monitoring/shared-monitor-config.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/guide/apm-data-model.asciidoc
Labels: backport, docs

#2544 [7.3][docs] Documentation backports
  docs/configuration-process.asciidoc
  docs/configuration-rum.asciidoc
  docs/configuring-ingest.asciidoc
  docs/copied-from-beats/monitoring/shared-monitor-config.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/guide/apm-data-model.asciidoc
Labels: backport, docs

#2355 [docs] Update links to APM JS RUM Agent
  docs/version.asciidoc
Labels: docs

#2556 [7.x] add database link field to spans
  beater/test_approved_es_documents/TestPublishIntegrationSpans.approved.json
  docs/data/elasticsearch/generated/spans.json
  docs/fields.asciidoc
  docs/spec/spans/span.json
  include/fields.go
  model/span/_meta/fields.yml
  model/span/event.go
  model/span/event_test.go
  model/span/generated/schema/span.go
  processor/stream/package_tests/span_attrs_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationSpans.approved.json
  testdata/intake-v2/spans.ndjson
Labels: backport

#2557 [7.x] support exception trees
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  docs/data/elasticsearch/generated/errors.json
  docs/spec/errors/error.json
  include/fields.go
  model/error/_meta/fields.yml
  model/error/event.go
  model/error/event_test.go
  model/error/generated/schema/error.go
  processor/stream/package_tests/error_attrs_test.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
  testdata/intake-v2/errors.ndjson
Labels: backport

#2547 [7.3] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2548 [7.2] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2549 [7.1] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2550 [7.0] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2546 [7.x] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2551 [6.8] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2552 [6.7] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2553 [6.6] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2554 [6.5] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2555 [6.4] docs: update rum links (#2355)
  docs/version.asciidoc
Labels: backport

#2534 [docs] Update agent compatibility
  docs/guide/agent-server-compatibility.asciidoc
Labels: docs

#2567 Docs: Asciidoctor compatibility
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
Labels: docs

#2568 Docs: Asciidoctor compatibility (7.x) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
Labels: backport, docs

#2570 Docs: Asciidoctor compatibility (7.2) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
Labels: backport, docs

#2571 Docs: Asciidoctor compatibility (7.1) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
Labels: backport, docs

#2572 Docs: Asciidoctor compatibility (7.0) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
Labels: backport, docs

#2573 Docs: Asciidoctor compatibility (6.8) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
Labels: backport, docs

#2574 Docs: Asciidoctor compatibility (6.7) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
Labels: backport, docs

#2569 Docs: Asciidoctor compatibility (7.3) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
Labels: backport, docs

#2575 Docs: Asciidoctor compatibility (6.6) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
Labels: backport, docs

#2576 Docs: Asciidoctor compatibility (6.5) (#2567)
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
Labels: backport, docs

#2594 [docs][6.2] Fix Asciidoctor build errors
  NOTICE.txt
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
Labels: docs

#2586 [docs][6.8] Fix Asciidoctor build errors
  _beats/libbeat/scripts/generate_fields_docs.py
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/dashboards.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/dashboards.asciidoc
  docs/fields.asciidoc
Labels: docs

#2587 [docs][6.7] Fix Asciidoctor build errors
  _beats/libbeat/scripts/generate_fields_docs.py
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/dashboards.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/dashboards.asciidoc
  docs/fields.asciidoc
Labels: docs

#2590 [docs][6.6] Fix Asciidoctor build errors
  _beats/libbeat/scripts/generate_fields_docs.py
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/dashboards.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/dashboards.asciidoc
  docs/fields.asciidoc
Labels: docs

#2591 [docs][6.5] Fix Asciidoctor build errors
  _beats/libbeat/scripts/generate_fields_docs.py
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/dashboards.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/dashboards.asciidoc
  docs/fields.asciidoc
Labels: docs

#2592 [docs][6.4] Fix Asciidoctor build errors
  NOTICE.txt
  _beats/libbeat/scripts/generate_fields_docs.py
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/dashboards.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-logstash-config.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/dashboards.asciidoc
  docs/fields.asciidoc
Labels: docs

#2593 [docs][6.3] Fix Asciidoctor build errors
  NOTICE.txt
  _beats/libbeat/scripts/generate_fields_docs.py
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/fields.asciidoc
Labels: docs

#2542 [docs] Sync beats documentation
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/loggingconfig.asciidoc
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/monitoring/monitoring-internal-collection.asciidoc
  docs/copied-from-beats/monitoring/monitoring-metricbeat.asciidoc
  docs/copied-from-beats/monitoring/shared-monitor-config.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/security/basic-auth.asciidoc
  docs/copied-from-beats/security/users.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-docker.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-systemd.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/step-test-config.asciidoc
  docs/index.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: docs

#2595 [docs][7.1] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/shared-docker.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
Labels: docs

#2596 [docs][7.0] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/shared-docker.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
Labels: docs

#2603 [docs] Add links to rum configs
  docs/configuration-rum.asciidoc
Labels: docs

#2604 [docs] Add links to rum configs
  docs/configuration-rum.asciidoc
Labels: backport, docs

#2605 [docs] Add links to rum configs
  docs/configuration-rum.asciidoc
Labels: backport, docs

#2606 [docs][7.x] Sync beats documentation (#2542)
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/loggingconfig.asciidoc
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/monitoring/monitoring-internal-collection.asciidoc
  docs/copied-from-beats/monitoring/monitoring-metricbeat.asciidoc
  docs/copied-from-beats/monitoring/shared-monitor-config.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/security/basic-auth.asciidoc
  docs/copied-from-beats/security/users.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-docker.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-systemd.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/step-test-config.asciidoc
  docs/index.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: backport, docs

#2607 [docs][7.3] Sync beats documentation (#2542)
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/loggingconfig.asciidoc
  docs/copied-from-beats/monitoring/monitoring-beats.asciidoc
  docs/copied-from-beats/monitoring/monitoring-internal-collection.asciidoc
  docs/copied-from-beats/monitoring/monitoring-metricbeat.asciidoc
  docs/copied-from-beats/monitoring/shared-monitor-config.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/security/basic-auth.asciidoc
  docs/copied-from-beats/security/users.asciidoc
  docs/copied-from-beats/shared-directory-layout.asciidoc
  docs/copied-from-beats/shared-docker.asciidoc
  docs/copied-from-beats/shared-ssl-config.asciidoc
  docs/copied-from-beats/shared-systemd.asciidoc
  docs/copied-from-beats/shared-template-load.asciidoc
  docs/copied-from-beats/step-test-config.asciidoc
  docs/index.asciidoc
  docs/setting-up-and-running.asciidoc
Labels: backport, docs

#2600 [docs][6.8] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2601 [docs][6.7] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2602 [docs][6.6] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2610 [docs][6.4] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2611 [docs][6.3] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2612 [docs][6.2] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2613 [docs][6.5] Remove arbitrary python expressions
  docs/copied-from-beats/command-reference.asciidoc
  docs/copied-from-beats/outputconfig.asciidoc
  docs/copied-from-beats/shared-path-config.asciidoc
  docs/index.asciidoc
Labels: docs

#2599 ci(jenkins): avoid builds in the master worker
  .ci/check-changelogs.groovy
  Jenkinsfile
Labels: automation, ci

#2527 [monitoring] Use separate monitoring counter per API
  beater/api/asset/sourcemap/handler.go
  beater/api/asset/sourcemap/handler_test.go
  beater/api/asset/sourcemap/test_approved/integration/TestRootHandler_PanicMiddleware.approved.json
  beater/api/config/agent/handler.go
  beater/api/config/agent/handler_test.go
  beater/api/config/agent/monitoring.go
  beater/api/config/agent/monitoring_test.go
  beater/api/config_agent_integration_test.go
  beater/api/intake/handler.go
  beater/api/intake/handler_test.go
  beater/api/intake/monitoring.go
  beater/api/intake/monitoring_test.go
  beater/api/intake_backend_integration_test.go
  beater/api/intake_rum_integration_test.go
  beater/api/mux.go
  beater/api/root/handler.go
  beater/api/root/handler_test.go
  beater/api/root/test_approved/integration/TestRootHandler_AuthorizationMiddleware/Authorized.approved.json
  beater/api/root/test_approved/integration/TestRootHandler_PanicMiddleware.approved.json
  beater/api/root_integration_test.go
  beater/api/sourcemap_handler_integration_test.go
  beater/beatertest/monitoring.go
  beater/middleware/monitoring_middleware.go
  beater/middleware/monitoring_middleware_test.go
  beater/request/result.go
  beater/request/result_test.go
  changelogs/head.asciidoc
Labels: [zube]: In Review, review

#2528 [logging] improve logging
  beater/beatertest/handler.go
  beater/middleware/log_middleware.go
  beater/middleware/log_middleware_test.go
  beater/middleware/recover_panic_middleware_test.go
  changelogs/head.asciidoc
  tests/system/test_integration_acm.py
  tests/system/test_integration_logging.py
Labels: [zube]: In Review, review

#2540 Add new hostname information on Intake API and in ES.
  beater/api/config_agent_integration_test.go
  beater/api/intake/handler_test.go
  beater/api/intake_backend_integration_test.go
  beater/api/intake_rum_integration_test.go
  beater/api/root_integration_test.go
  beater/api/sourcemap_handler_integration_test.go
  beater/integration_test.go
  changelogs/head.asciidoc
  docs/spec/system.json
  model/context_test.go
  model/metadata/generated/schema/metadata.go
  model/metadata/metadata_test.go
  model/metadata/system.go
  model/metadata/system_test.go
  model/metadata/test_approved_system/transform_detected_hostname.approved.json
  model/metadata/test_approved_system/transform_full.approved.json
  model/metadata/test_approved_system/transform_full_hostname_info.approved.json
  model/metadata/test_approved_system/transform_hostname.approved.json
  model/metadata/test_approved_system/transform_ignored_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_empty.approved.json
  model/metadata/test_approved_system/transform_k8s_namespace_with_configured_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_nodename_with_configured_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_nodename_with_detected_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_nodename_with_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_podUID_with_configured_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_podname_with_configured_hostname.approved.json
  model/transaction/event_test.go
  processor/asset/sourcemap/package_tests/processor_test.go
  processor/stream/package_tests/metadata_attrs_test.go
  processor/stream/processor_test.go
  testdata/intake-v2/errors.ndjson
  testdata/intake-v2/only-metadata.ndjson
  tests/approvals/approvals.go
  tests/scripts/approvals.go
Labels: [zube]: In Review, review

#2618 [7.x] [monitoring] Use separate monitoring counter per API (#2527)
  beater/api/asset/sourcemap/handler.go
  beater/api/asset/sourcemap/handler_test.go
  beater/api/asset/sourcemap/test_approved/integration/TestRootHandler_PanicMiddleware.approved.json
  beater/api/config/agent/handler.go
  beater/api/config/agent/handler_test.go
  beater/api/config/agent/monitoring.go
  beater/api/config/agent/monitoring_test.go
  beater/api/config_agent_integration_test.go
  beater/api/intake/handler.go
  beater/api/intake/handler_test.go
  beater/api/intake/monitoring.go
  beater/api/intake/monitoring_test.go
  beater/api/intake_backend_integration_test.go
  beater/api/intake_rum_integration_test.go
  beater/api/mux.go
  beater/api/root/handler.go
  beater/api/root/handler_test.go
  beater/api/root/test_approved/integration/TestRootHandler_AuthorizationMiddleware/Authorized.approved.json
  beater/api/root/test_approved/integration/TestRootHandler_PanicMiddleware.approved.json
  beater/api/root_integration_test.go
  beater/api/sourcemap_handler_integration_test.go
  beater/beatertest/monitoring.go
  beater/middleware/monitoring_middleware.go
  beater/middleware/monitoring_middleware_test.go
  beater/request/result.go
  beater/request/result_test.go
Labels: backport

#2614 ci(jenkins): build and test stages are now merged.
  Jenkinsfile
Labels: automation, ci, enhancement

#2588 ES fields: Index socket.remote_address as client.ip
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationTransactions.approved.json
  changelogs/head.asciidoc
  docs/data/elasticsearch/generated/errors.json
  docs/data/elasticsearch/generated/transactions.json
  model/context.go
  model/error/event.go
  model/transaction/event.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationTransactions.approved.json
  tests/system/error.approved.json
  tests/system/transaction.approved.json
Labels: [zube]: In Review

#2624 [7.x] Add new hostname information on Intake API and in ES. (#2540)
  beater/api/config_agent_integration_test.go
  beater/api/intake/handler_test.go
  beater/api/intake_backend_integration_test.go
  beater/api/intake_rum_integration_test.go
  beater/api/root_integration_test.go
  beater/api/sourcemap_handler_integration_test.go
  beater/integration_test.go
  docs/spec/system.json
  model/context_test.go
  model/metadata/generated/schema/metadata.go
  model/metadata/metadata_test.go
  model/metadata/system.go
  model/metadata/system_test.go
  model/metadata/test_approved_system/transform_detected_hostname.approved.json
  model/metadata/test_approved_system/transform_full.approved.json
  model/metadata/test_approved_system/transform_full_hostname_info.approved.json
  model/metadata/test_approved_system/transform_hostname.approved.json
  model/metadata/test_approved_system/transform_ignored_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_empty.approved.json
  model/metadata/test_approved_system/transform_k8s_namespace_with_configured_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_nodename_with_configured_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_nodename_with_detected_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_nodename_with_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_podUID_with_configured_hostname.approved.json
  model/metadata/test_approved_system/transform_k8s_podname_with_configured_hostname.approved.json
  model/transaction/event_test.go
  processor/asset/sourcemap/package_tests/processor_test.go
  processor/stream/package_tests/metadata_attrs_test.go
  processor/stream/processor_test.go
  testdata/intake-v2/errors.ndjson
  testdata/intake-v2/only-metadata.ndjson
  tests/approvals/approvals.go
  tests/scripts/approvals.go
Labels: backport

#2621 [7.x] [logging] improve logging (#2528)
  beater/beatertest/handler.go
  beater/middleware/log_middleware.go
  beater/middleware/log_middleware_test.go
  beater/middleware/recover_panic_middleware_test.go
  tests/system/test_integration_acm.py
  tests/system/test_integration_logging.py
Labels: backport

#2626 [7.x] ES fields: Index socket.remote_address as client.ip (#2588)
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  beater/test_approved_es_documents/TestPublishIntegrationTransactions.approved.json
  docs/data/elasticsearch/generated/errors.json
  docs/data/elasticsearch/generated/transactions.json
  model/context.go
  model/error/event.go
  model/transaction/event.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
  processor/stream/test_approved_es_documents/testIntakeIntegrationTransactions.approved.json
  tests/system/error.approved.json
  tests/system/transaction.approved.json
Labels: backport

#2628 [7.x] auto-generate exception parent and remove property from the intake
  beater/test_approved_es_documents/TestPublishIntegrationErrors.approved.json
  docs/data/elasticsearch/generated/errors.json
  docs/spec/errors/error.json
  model/error/event.go
  model/error/event_test.go
  model/error/generated/schema/error.go
  processor/stream/test_approved_es_documents/testIntakeIntegrationErrors.approved.json
Labels: backport

#2629 ci(jenkins): rename APM ITs to avoid any misleading
  Jenkinsfile
Labels: automation, ci

#2617 ci(jenkins): avoid using the any agent to skip running in the master-worker
  .ci/check-changelogs.groovy
  Jenkinsfile
Labels: automation, ci, enhancement

#2633 ci(jenkins): Fix environment variable used to calculate git commit
  Jenkinsfile
Labels: automation, bug, ci

#2645 ci(jenkins): revert none agent
  .ci/check-changelogs.groovy
  Jenkinsfile
Labels: automation, ci

#2655 [7.x] Update license text for repo. (#2636)
  LICENSE.txt
Labels: backport

#2565 speed up integration tests
  Jenkinsfile
  script/jenkins/linux-test.sh
  script/jenkins/unit-test.sh
  tests/system/apmserver.py
  tests/system/config/apm-server.yml.j2
  tests/system/test_integration.py
  tests/system/test_integration_acm.py
  tests/system/test_pipelines.py
  tests/system/test_requests.py
  tests/system/test_setup_index_management.py
Labels: [zube]: In Review

#2657 [7.x] remove empty folders (deleted deps) after beats update (#2656)
  Makefile
Labels: backport

#2660 [docs][7.4] Update doc version
  docs/version.asciidoc
Labels: docs
